doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=z, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Olas Perú
        link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/main.css")
    body
        header
            nav.navbar.navbar-default.navbar-fixed-top