.navbar-default{
    background-color: #222;
    border-color: #222;
    .navbar-nav li a{
        color: black;
        font-size: 17px;
        font-family: "DolceVita";
    }
    
}

.navbar-default
    .navbar-toggle
        .icon-bar{
            background-color: #fff;
}

.logo{
    width: 4em;
    img{
        width: 100%;
  	    padding: 15% 10% 15% 10%;
    }
}